
<div class='header'>

<a class = 'navLink' href="/">Pickle-o Petition</a>
<a class = 'navLink' href="/profile/edit">edit profile</a>
<a class = 'navLink' href="/signers">supporters</a>
<form class="logoutNav" method="POST" action = "/logout">
    <button id=logoutLink>log out</button>
    <input type='hidden' name="_csrf" value='{{csrfToken}}'>
</form>
</div>
