<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <div class='bodyColumn'>
    {{> navbar}}

    <div class='middle-section'>
    <div class="register">
    <div id='stage'>
    <img id='spinner' class="pickleo" src="/pickleo.jpg" alt="pickleo">

    </div>
    <p>Help legitimize the magical sounds of this under appreciated instrument by making it an official part of the Berliner Philharmonic.  For too long the pickle-o has sat by the wayside.  It’s time that we make our voices and the melodies of the pickle-o heard!  By signing this petition we get one step closer to our goal.</p>
    </div>

    {{{body}}}
    </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
