{{ loginErrorMessage}}

<h1>Please Log In here</h1>
<form method="POST">
    <input name='email' placeholder="email address">
    <input type="password" name='password' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id=logInField>log in</button>
</form>
