
<form class = 'formFields' method="POST">
    <h1>Please Log In here</h1>
    <p class='error'>{{ loginErrorMessage}}</p>
    <input name='email' placeholder="email address">
    <input type="password" name='password' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id=logInField>log in</button>
</form>
