

        <form class= 'formFields' method="POST">
            <p>Sign your name in the field below by drawing with the cursor.</p>
            <p class='error'>{{message}}</p>

            <input type="hidden" id='signature' name='signature'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <canvas id="canvas" width="360" height="120"></canvas>
            <button id='signerButton'>sign!</button>
        </form>
