<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Petition - jr</h1>

        <p>{{message}}</p>

        <form method="POST">
            <input name="first" placeholder="first name">
            <input name="last" placeholder="last name">
            <input type="hidden" id='signature' name='signature'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <canvas id="canvas" width="500" height="200"></canvas>
            <button id=submit>sign!</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
