
    <p>By signing here your signature will be added to our petition and we will be one step closer to our goal!</p>
        <p class='error'>{{message}}</p>

        <form method="POST">
            <!-- <input name="first" placeholder="first name">
            <input name="last" placeholder="last name"> -->
            <input type="hidden" id='signature' name='signature'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <canvas id="canvas" width="500" height="150"></canvas>
            <button id=submit>sign!</button>
        </form>
