<form method="POST">
    <input name="age" placeholder="first name">
    <input name="city" placeholder="last name">
    <input name="url" placeholder="website">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="continue">continue</button>
</form>
