<form class='formFields' method="POST">
    <h1>Profile Information</h1>
    <p>Help us understand who our pickle-o supporters are by entering some information about yourself.  These is optional but very much appreciated!</p>
    <p class='error'>{{ profileErrorMessage }}</p>
    <input name="age" placeholder="age">
    <input name="city" placeholder="city">
    <input name="url" placeholder="website">
    <button class="continue">continue</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
