<form class='formFields' method="POST">
    <h1>Register now to sign the petition</h1>
    <p class='error'>{{ registrationErrorMessage }}</p>
    <input name="first" placeholder="first name">
    <input name="last" placeholder="last name">
    <input name='email' placeholder="email address">
    <input type="password" name='password' placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id='registerButton'>register</button>
    <p>If you are already a member, please <a id="login-link" href="./login">log in</a></p>
</form>
