<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Signers</h1>

        {{#signers}}
        <li>{{first}} {{last}}</li>

        {{/signers}}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
