{{> navbar}}
        <h1>Thanks for signing petition</h1>
        {{thanksErrorMessage}}
        <img id='base64image' src={{signatureImage}}>
        <form method="POST">
            <button id=signerButton>see who else has signed!</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
        <form method="POST" action = "/signature/delete">
            <button id=deleteSignature>delete my signature</button>
            <input type='hidden' name="_csrf" value='{{csrfToken}}'>
        </form>
        <a href="/profile/edit">Edit your profile</a>
